<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatosDs.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=DESKTOP-FMT62SS;Initial Catalog=Northwind;User ID=sa;Password=teamofer21"
            providerName="System.Data.SqlClient" />
        <add name="AccesoDatosDs.Properties.Settings.NorthwindConnectionString1"
            connectionString="Data Source=DESKTOP-FMT62SS;Initial Catalog=Northwind;Persist Security Info=True;User ID=sa;Password=teamofer21"
            providerName="System.Data.SqlClient" />
        <add name="AccesoDatosDs.Properties.Settings.NorthwindConnectionString2"
            connectionString="Data Source=DESKTOP-FMT62SS;Initial Catalog=Northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>